<!DOCTYPE HTML>
<html>
<head>
<title>Icons Preview!</title>

<%= snippet %>

<style type="text/css" media="screen">
	body{
		/* Grey grid background */
		background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAIElEQVQYV2NkYGCQBGJ0IIUuwDhEFBpj8cwzbJ4Z7AoBdm0Ghz/C7UYAAAAASUVORK5CYII=');
		background-repeat: repeat;
	}

	*{
		background-repeat: no-repeat;
		background-position: center center;
	}
<% icons.forEach(function(icon){ %>
	.<%= icon.selector %>{
		width: <%= icon.size.w %>px;
		height: <%= icon.size.h %>px;
	}
<% }); %>
</style>

</head>
<body>
<ul>
<% icons.forEach(function(icon){ %>
	<li>
		<pre><code>.<%= icon.selector %></code></pre>
		<div class="<%= icon.selector %>"></div>
		<hr>
	</li>
<% }); %>
</ul>
</body>
</html>